.div_logistica{
	height: 100vh;
	/*background-color: #eaeaea;*/
}

/* Sec 1 */
	.logistica1{
		background-size: cover;
		background-image: url('../img/logistica/fondo_ciudad.png'),url('../img/fondos/textura_gris.png');
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		padding: 10%;
		color: #fff;
	}
	.log1_texto{
		width: 50%;
	}
	.log1_titulo{
		font-size: 3.8rem;
		color: var(--lima);
		margin-bottom: 1.5rem;
	}
	.logistica1 p{
		font-size: 1.1rem;
		width: 80%;
	}

/* Sec 2 */
	.logistica2{
		padding: 5% 10%;
		background-image: url('../img/fondos/textura_gris.png');
		text-align: center;
		display: flex;
		flex-direction: column;
	}
	.log2_titulo{
		color: var(--azul);
		margin-bottom: 1rem;
		font-size: 1.4rem;
	}
	.log2_subtitulo{
		font-size: 1.1rem;
	}
	.log2_transportes{
		display: flex;
		margin: 3rem auto;
		justify-content: center;
		position: relative;
		left: 7.5rem;
	}
	.log2_transportes div{
		border: dashed 2px var(--azul);
		border-radius: 50%;
		height: 22rem;
		width: 22rem;
		display: flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		position: relative;
	}
	.log2_transportes div img{
		width: 80%;
	}
	.log2_transporte_camion{
		left: -2.5rem;
	}
	.log2_transporte_barco{
		left: -5rem;
	}
	.log2_transporte_avion{
		left: -7.5rem;
	}
	.log2_transportes div p{
		position: absolute;
		top: 108%;
		text-transform: uppercase;
		letter-spacing: 4px;
	}
	.log_p_uso{
		margin: 0 auto;
		width: 50%;
		margin-top: 6rem;
	}

/* Sec 3 */
	.logistica3{
		padding: 5% 10%;
		background-image: url('../img/fondos/textura_gris.png');
		display: flex;
		flex-direction: column;
		position: relative;
	}
	.log3_fondo_fabrica{
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
	}
	.log_texto{
		position: absolute;
	}
	.log_texto h3{
		margin-bottom: .5rem;
	}
	.log_texto p{
		font-size: 1.1rem;
	}
	.log_indicadores{
		width: 35%;
		top: 15%;
	}
	.log_indicadores h3{
		font-size: 1.4rem;
	}
	.log_emision{
		width: 23%;
		top: 30%;
		right: 10%;
	}
	.log_emision h3{
		font-size: 1.3rem;
		color: var(--verde);
	}
	.log_energia{
		width: 21%;
		top: 50%;
		left: 30%;
	}
	.log_energia h3{
		font-size: 1.3rem;
		color: var(--azul);
	}

/* Sec 4 */
	.logistica4{
		padding: 5% 10%;
		background-image: url('../img/fondos/textura_gris.png');
		display: flex;
		flex-direction: column;
		position: relative;
		text-align: center;
	}
	.log4_playeras{
		margin: 0 auto;
		text-align: center;
		position: relative;
	}
	.log4_playeras_tubo{
		position: absolute;
		width: 100%;
		height: 4px;
		top: 18%;
		background-color: var(--azul);
		z-index: 0;
	}
	.log4_playeras_img{
		width: 100%;
		margin-top: 5%;
		margin-bottom: 2rem;
		z-index: 20;
	}
	.log4_titulo{
		color: var(--azul);
		margin-bottom: 1rem;
		font-size: 1.4rem;
	}
	.log4_texto{
		width: 60%;
		margin: 0 auto;
		font-size: 1.1rem;
	}

/* Sec 5 */
	.logistica5{
		padding: 5% 10%;
		background-image: url('../img/fondos/textura_gris.png');
		display: flex;
		flex-direction: column;
		position: relative;
	}
	.ruta_internacional{
		width: 22%;
		font-size: 1.1rem;
		position: absolute;
		top: 35%;
	}
	.ruta_internacional h3{
		font-size: 1.4rem;
		color: var(--azul);
		margin-bottom: .8rem;
	}
	.ruta_int_img{
		position: absolute;
		width: 55%;
		left: 15%;
	}
	.ruta_internacional_timeline{
		position: absolute;
		right: 12%;
		top: 35%;
	}
	.ruta_internacional_timeline::before{
		content: '';
		position: absolute;
		height: 68%;
		top: 20%;
		width: 2px;
		left: 2.8%;
		background-color: var(--verde);
	}
	.ruta_internacional_timeline h3{
		color: var(--azul);
		font-size: 1.3rem;
		margin-bottom: .8rem;
	}
	.ruta_internacional_timeline p{
		font-family: 'FilsonProMedium', sans-serif;
		color: var(--verde);
		margin: 2rem 0;
		font-size: 1.1rem;
		position: relative;
		margin-left: 10%;
	}
	.ruta_internacional_timeline p::before{
		content: '';
		position: absolute;
		width: 13px;
		height: 13px;
		background-color: var(--verde);
		top: 15%;
		border-radius: 50%;
		left: -10%;
	}

/* Sec 6 */
	.logistica6{
		padding: 5% 10%;
		background-image: url('../img/fondos/textura_gris.png');
		display: flex;
		flex-direction: column;
		position: relative;
	}
	.log6_ejemplo{
		position: absolute;
		left: 22%;
		width: 45%;
		line-height: 1.3;
		font-size: 1.1rem;
	}
	.log6_mapa{
		position: absolute;
		width: 80%;
		left: 10%;
		top: 10%;
	}
	.log6_mapa_mapa{
		width: 80%;
		position: relative;
		left: 12.5%;
		margin: 0 auto;
	}
	.logistica_badge{
		position: absolute;
		display: flex;
		top: 0;
		border-radius: .5rem;
		padding: 8px;
		align-items: center;
		box-shadow: 0 1.215px 8.1511px rgba(0, 0, 0, 0.61);
	}
	.badge_titulo{
		letter-spacing: 2px;
		font-size: .9rem;
		margin-bottom: 2px;
	}
	.logistica_badge p{
		font-size: .85rem;
		font-family: 'FilsonProBook';
	}
	.logistica_badge img{
		height: 42px;
		margin-right: 8px;
	}
	.badge_blanco{
		top: 35%;
		left: 20%;
		background-color: #fff;
		color: var(--verde);
	}
	.badge_verde{
		top: 54%;
		left: 30%;
		background-color: var(--verde);
		color: #fff;
		padding-right: 1.5rem;
	}
	.badge_azul{
		top: 31%;
		left: 79%;
		background-color: var(--azul);
		color: #fff;
		padding-right: 1rem;
	}
	.badge_lima{
		top: 40%;
		left: 79%;
		background-color: var(--lima);
		color: var(--verde);
		padding-right: 1.5rem;
	}
	.badge_naranja{
		top: 62%;
		left: 67%;
		background-color: var(--naranja);
		padding-right: 1.5rem;
	}
	.pin{
		position: absolute;
		width: 4.5%;
	}
	.pin_blanco{
		top: 44%;
		left: 23%;
	}
	.pin_verde{
		top: 50%;
		left: 27%;
	}
	.pin_lima{
		top: 47.5%;
		left: 76%;
	}
	.pin_azul{
		top: 47.5%;
		left: 75.5%;
	}
	.pin_naranja{
		top: 52%;
		left: 70%;
	}